<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% if username %}
        <p>Welcome, {{ username }}</p>
    {% else %}
        <p>Welcome, Guest</p>
    {% endif %}
    
    <form action="{% url 'search_results' %}" method="get">
        <input type="text" name="q" placeholder="Search songs or artists">
        <button type="submit">Search</button>
    </form>
    
    <h2>Your Songs:</h2>
    <ul>
        {% for song in songs %}
            <li>{{ song.title }} - {{ song.artist }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'all_songs' %}">View All Songs</a>

    <form action="{% url 'create_playlist' %}" method="post">
        {% csrf_token %}
        <button type="submit">Your Playlists</button>
    </form>
    
</body>
</html>
