<!DOCTYPE html>
<html>
<head>
    <title>Playlists</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .no-margin{
            margin-left: 5%;
            margin-right: 5%;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand " href="{% url 'home' %}">My Music App</a>
    
        <ul class="navbar-nav flex-row mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'all_songs' %}">View All Songs</a>
            </li>
            <li class="nav-item">
                <form action="{% url 'create_playlist' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link nav-link">Your Playlists</button>
                </form>            
            </li>
        </ul>
    
        <form class="form-inline" action="{% url 'search_results' %}" method="get">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search songs" aria-label="Search" size="50">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>


    <div class="jumbotron">
        <div class="row">

            <div class="col-md-9">
                <h2>Your Playlists</h2>
            </div>
            <div class="col-md-3">
                <a href="{% url 'create_playlist' %}" class="btn btn-dark">Create a new Playlist</a>
            </div>
        </div>
    </div>
    
        
    

    <div class="no-margin">




    {% if user_playlists %}
    <div class="row">
        {% for playlist in user_playlists %}
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>{{ playlist.playlist_name }}</h4>
                        </div>
                        <div class="col-md-4">
                            <form action="{% url 'delete_playlist' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="playlist_name" value="{{ playlist.playlist_name }}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <a href="{% url 'view_playlist_songs' playlist.playlist_id %}">View songs in {{ playlist.playlist_name }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No playlists found.</p>
    {% endif %}
</div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
