<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Playlists</title>
</head>
<body>
    <h1>My Playlists</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% else %}
        <ul>
            {% for playlist in user_playlists %}
                <li>{{ playlist.playlist_name }}</li>
            {% empty %}
                <li>No playlists found</li>
            {% endfor %}
        </ul>
    {% endif %}
    <a href="{% url 'create_playlist' %}">Create Playlist</a>
</body>
</html>
