<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Added</title>
    <style>
        .no-margin{
            margin-left: 5%;
            margin-right: 5%;
        }
    </style>
</head>
<body>

    <h2>Song Added to Playlist</h2>
    <div class="no-margin">

    <p>Song with ID {{ music_id }} has been successfully added to playlist with ID {{ playlist_id }}.</p>
    <!-- You can provide links/buttons here to navigate back to the search results or any other page as needed -->
    </div>
</body>
</html>